[submodule "Annotation"]
	path = Annotation
	url = git@github.com:kevoree/kevoree-dotnet-annotation.git
[submodule "Core/Api"]
	path = Core/Api
	url = git@github.com:kevoree/kevoree-dotnet-core-api.git
[submodule "Core/Bootstrap"]
	path = Core/Bootstrap
	url = git@github.com:kevoree/kevoree-dotnet-core-bootstrap.git
